# Database
DATABASE_URL=postgresql://neondb_owner:npg_xzcRHn86PedM@ep-dawn-mountain-a1oj96jw-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require


# NextAuth (v5 uses AUTH_SECRET and AUTH_URL)
AUTH_SECRET=your-secret-here
AUTH_URL=http://localhost:3000

# API Keys (if needed)
ADMIN_EMAIL=aiworkflow@rohanbuilders.com
